<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="email-validator.html">
<link rel="import" href="password-validator.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      iron-input input{
        position: relative;
        outline: none;
        box-shadow: none;
        padding: 0;
        width: 100%;
        max-width: 100%;
        background: transparent;
        border: none;
      }

      paper-button {
        background-color: #4285f4;
        color: white;
      }

      .error-alert{
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }

    </style>

    <email-validator></email-validator>
    <password-validator equal="{{conPass}}"></password-validator>

    <div class="card">
      <h1>Log In Form</h1>
      <p>Password must be over 8 characters.</p>

      <template is="dom-if" if="{{error}}">
        <p class="error-alert"><strong>Error:</strong> [[error]]</p>
      </template>
      <template is="dom-if" if="{{user}}">
        <p>Welcome [[user]]!</p>
      </template>

      <paper-input-container>
        <label slot="label">Email</label>
        <iron-input id="emailInput" slot="input" bind-value="{{formData.email}}" validator="email-validator">
          <input type="text">
        </iron-input>
      </paper-input-container>

      <paper-input-container>
        <label slot="label">Password</label>
        <iron-input id="passInput" slot="input" bind-value="{{formData.password}}" validator="password-validator">
          <input type="password">
        </iron-input>
      </paper-input-container>

      <paper-input-container>
        <label slot="label">Confirm Password</label>
        <iron-input id="conPassInput" slot="input" bind-value="{{formData.confirmPassword}}" validator="password-validator">
          <input type="password">
        </iron-input>
      </paper-input-container>

      <paper-button class="primary" on-tap="submit">Submit</paper-button>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties(){
        return{
          formData: {
            type: Object,
            value:{
              email:'',
              password:'',
              confirmPassword:''
            }
          },
          error: {
            type: String,
            value: ''
          },
          user : {
            type: String,
            value: ''
          },
          conPass:{
            type: Boolean,
            value: true,
          },
        }
      }
      propReset(){
        this.error = '';
        this.user = '';
        this.conPass = true;
      }

      submit(){
        this.propReset();

        var email = this.formData.email;
        var pass = this.formData.password;
        var conPass = this.formData.confirmPassword;

        if(email==='' || pass ==='' || conPass ===''){
          this.error += 'Please fill in all the inputs. ';
          if(email==='')this.$.emailInput.validate();
          if(pass==='')this.$.passInput.validate();
          if(conPass==='')this.$.conPassInput.validate();
          return
        };

        var emailReg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if(!emailReg.test(email))this.error += 'Email is invalid. ';

        if(pass.length<=8)this.error += 'Password is not over 8 characters. ';

        if(pass!==conPass){
          this.error += 'Passwords do not match. ';
          this.conPass = false;
        };

        if(this.error=='')this.user = email;

        this.$.emailInput.validate();
        this.$.passInput.validate();
        this.$.conPassInput.validate();
      }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
